
    <footer>
        <section>    
            <div id="containerFooter">

                <div>
                    <h3> OK2Shop </h3>
                    <p> Online Shoping </p>
                </div>
                <div >
                    <address>
                        <i class="fa fa-map-marker"></i>
                        <p>Windsor, ON, Canada</p>                     
                        <p><i class="material-icons">mail</i><a href="mailto:kadish1@uwindsor.ca">kadish1@uwindsor.ca</a></p>
                    </address>
                </div>
                <div>
                    <ul class="social-icon">
                        <li><a href="https://github.com/OmarKadish" target="_blank" class="fa fa-github"></a></li>
                        <li><a href="https://www.linkedin.com/in/omar-kadish" target="_blank" class="fa fa-linkedin"></a></li>
                        <li><a href="https://www.instagram.com/omarabdalazeez6" target="_blank" class="fa fa-instagram"></a></li>
                   </ul>
                </div>
                <div id="credit">By <a href="https://omarkadish.github.io/portfolio/" target="_blank"> Omar Kadish </a></div>

            </div>

        </section>

    </footer>
</body>

</html>
